@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    /* color base */
    /* --color-theme-400: #225536; */
    --color-theme-100: #4E7A6E;
    --color-theme-200: #3F6C59;
    --color-theme-300: #355C4A;
    --color-theme-400: #225536;
    --color-theme-500: #1A4630;
    --color-theme-600: #15402A;
    --color-theme-700: #113627;
    --color-theme-800: #0E2C23;
    --color-theme-900: #0A1E1A;
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

/* animacion para el modal */
.modal-animation {
    animation: modalEnter 0.3s ease-out forwards;
  }
  
  /* Animación de entrada */
  @keyframes modalEnter {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

/* animacion de spinner */
.spinner-border {
    border-width: 0.25em;
    border-color: transparent;
    border-top-color: #3490dc; /* Color del spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
